*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background: #f6f8fc;
  color: #222;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: white;
}

.navbar h1{
  color: #4a6cf7;
}

.navbar a{
  margin-left: 20px;
  text-decoration: none;
  color: #444;
}

.login-btn{
  margin-left: 20px;
  padding: 8px 18px;
  border: none;
  background: #4a6cf7;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.hero{
  height: 85vh;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
  center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero-text{
  color: white;
  max-width: 500px;
}

.hero-text h2{
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p{
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-text button{
  padding: 14px 30px;
  background: #4a6cf7;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.stats{
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 40px 10%;
  text-align: center;
}

.stats h3{
  color: #4a6cf7;
  font-size: 32px;
}

.courses{
  padding: 80px 10%;
  text-align: center;
}

.course-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
  margin-top: 40px;
}

.course-card{
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.course-card span{
  display: inline-block;
  margin-top: 15px;
  color: #f4b400;
}

.why{
  background: #eef2ff;
  padding: 70px 10%;
  text-align: center;
}

.why-grid{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top:30px;
  font-size: 18px;
}

